{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/accueil/index.css') }}">
{% endblock %}
{% block body %}
    <div id="general">
        <div class="header">
            <div class="header__titre">
                <h1>Articles :</h1>
            </div>
            <div class="header__menu">
                <div>
                    <a href="/article">Créez un article</a>
                </div>
            </div>
        </div>
        <div class="section__form">
            {% for article in articles %}
                <div class="containerAll">
                    <div class="titre">
                        {{ article.Title }}
                    </div>
                    <div class="contenu">
                        {{ article.Content }}
                    </div>
                    <div class="id">
                        <a href="/article/{{ article.id }}">Modifiez un article</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock%}