body{
    margin:0;
    padding: 0;
}

#general{
    margin:auto;
    width:80%;
    border:1px solid red;
}

.header__titre{
    text-align: center;
    text-decoration: underline;
}

.section__form{
    margin: 2% 0;
    border:1px solid #000;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.containerAll{
    border:1px solid black;
    display: flex;
    min-height: 200px;
    flex-direction: row;
    margin-bottom: 5%;
    justify-content: space-around;
    width: 100%;
}

.titre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.id{
    display: flex;
    justify-content: center;
    align-items: center;
}